---
import Pagination from "../../components/Pagination.astro";
import PostList from "../../components/PostList.astro";
import config from "../../config";
import { downloadImages } from "../../download";
import Layout from "../../layouts/Layout.astro";
import client from "../../notion";
import { paginate } from "../../utils";

export type Props = {
  page?: string;
};

export async function getStaticPaths() {
  const posts = await client.getAllPosts();
  const { pageCount } = paginate(posts, "1");

  return Array.from({ length: pageCount }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}

const { page } = Astro.params;

const [database, posts] = await Promise.all([
  client.getDatabase(),
  client.getAllPosts(),
]);

const { pageCount, pageInt, pagePosts } = paginate(posts, page || "1");
await downloadImages(database?.images, ...posts.map((p) => p.images));
---

<Layout>
  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <header class="text-center mb-12">
        <h1 class:list={["mb-12 text-6xl title", config.index?.titleClasses]}>
          {database.title}
        </h1>
        <p class="mx-auto max-w-xl">
          Page {pageInt} of {pageCount}
        </p>
      </header>
      <PostList posts={pagePosts} />
      <Pagination page={pageInt} pageCount={pageCount} />
    </article>
  </main>
</Layout>
<style
  define:vars={{
    titleFontFamily: config.index?.titleFontFamily || "inherit",
  }}
>
  .title {
    font-family: var(--titleFontFamily);
  }
</style>
