---
import { getCollection } from "astro:content";

import Pagination from "../../../../components/Pagination.astro";
import PostList from "../../../../components/PostList.astro";
import config from "../../../../config";
import Layout from "../../../../layouts/Layout.astro";
import {
  getDatabase,
  paginate,
  sortPostsByDate,
} from "@astrotion/astro/content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tagCounts = new Map<string, number>();
  posts.forEach((post) =>
    post.data.tags.forEach((tag) => {
      tagCounts.set(tag.name, (tagCounts.get(tag.name) || 0) + 1);
    }),
  );

  const pageSize = config.postsPerPage ?? 20;
  return Array.from(tagCounts).flatMap(([name, count]) => {
    const pageCount = Math.max(1, Math.ceil(count / pageSize));
    return Array.from({ length: pageCount }, (_, i) => ({
      params: { tag: name, page: (i + 1).toString() },
    }));
  });
}

const { page, tag } = Astro.params;
const filtered = sortPostsByDate(
  (await getCollection("posts")).filter((p) =>
    p.data.tags.some((t) => t.name === tag),
  ),
);
const database = await getDatabase();
const { posts, totalPages, currentPage } = paginate(
  filtered,
  parseInt(page, 10) || 1,
);
---

<Layout rssUrl=`/tags/${tag}/rss.xml`>
  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <header class="text-center mb-12">
        <h1 class:list={["mb-12 text-6xl title", config.index?.titleClasses]}>
          {database.title}
        </h1>
        <p class="mx-auto max-w-xl">
          {tag} - Page {currentPage} of {totalPages}
        </p>
      </header>
      <PostList posts={posts.map((p) => p.data)} />
      <Pagination page={currentPage} pageCount={totalPages} base={`/tags/${tag}`} />
    </article>
  </main>
</Layout>
<style
  define:vars={{
    titleFontFamily: config.index?.titleFontFamily || "inherit",
  }}
>
  .title {
    font-family: var(--titleFontFamily);
  }
</style>
